.nav {
  background-color: rgb(19, 22, 37);
  color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  top: 0rem;
  justify-content: flex-end;
  height: 3rem;
  text-align: center;
  border: solid 1px white;
  font: bold;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
body {
  background-color: rgb(0, 0, 0);
}
.links {
  display: flex;
  padding: 0.1rem;
  width: 20%;
  justify-content: space-between;
}
#aboutme:hover,
#portfolio:hover,
#contact:hover,
#skills:hover {
  color: orange;
  cursor: pointer;
  transition: color 0.6s ease-in-out;
}
.aboutCard {
  background-color: rgb(19, 22, 37);
  color: rgb(0, 126, 167);
  display: flex;
  border-radius: 10px;
  height: 51rem;
  width: 70%;
  box-shadow: 1px 3px 30px white ;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-content{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}