@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(
    at center center,
    rgb(0, 0, 0),
    rgb(23, 24, 26),
    #2c2c30
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li.selected {
  box-shadow: none;
}

@layer base {
  Link {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.sqlicon {
  position: absolute;
  left: 315px;
  top: 315px;

  -webkit-animation: myOrbit 12s linear infinite;
}
.htmlicon {
  position: absolute;
  left: 515px;
  top: 515px;

  -webkit-animation: myOrbit 12s linear infinite;
}
.reacticon {
  position: absolute;
  left: 415px;
  top: 430px;

  -webkit-animation: myOrbit 12s linear infinite;
}

@-webkit-keyframes myOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}
@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(300px) rotate(-360deg);
  }
}
