@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(
    at center center,
    rgb(0, 0, 0),
    rgb(23, 24, 26),
    #2c2c30
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li.selected {
  box-shadow: none;
}

@layer base {
  Link {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.c1, .c2, .c3,.c4,.c5,.c6,.c7,.c8{
  position:absolute;
  top: 8rem
 }
.c1{
   
   animation:rot 30s linear infinite;
}
.c2{
  
  animation: rot3 30s linear infinite;
}
.c3{
  
  animation: rot5 30s linear infinite;
}
.c4{
  
  animation: rot6 30s linear infinite;
}
.c5{
  
  animation: rot7 30s linear infinite;
}
.c6{
  
  animation: rot9 30s linear infinite;
}
.c7{
  
  animation: rot12 30s linear infinite;
}
.c8{
  
  animation: rot21 30s linear infinite;
}

.circulo3{
  position:absolute;
  margin:20rem 20rem
}


@keyframes rotar  {
  0%{}
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}

@keyframes rot {
	0% { transform: rotate(0deg) translatey(-21px) translatex(-152px) rotate(0deg);}
	100% {  transform: rotate(360deg) translatey(-21px) translatex(-152px) rotate(-360deg);}
}
@keyframes rot3 {
	0%{transform: rotate(0deg) translatey(-132px) translatex(-90px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(-132px) translatex(-90px)
		           rotate(-360deg);	}
}
@keyframes rot6 {
	0% {transform: rotate(0deg) translatey(162px) translatex(-21px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(162px) translatex(-21px)
		           rotate(-360deg);}
}
@keyframes rot5 {
	0% {transform: rotate(0deg) translatey(102px) translatex(-121px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(102px) translatex(-121px)
		           rotate(-360deg);}
}
@keyframes rot7 {
	0% {transform: rotate(0deg) translatey(132px) translatex(102px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(132px) translatex(102px)
		           rotate(-360deg);}
}
@keyframes rot9 {
0% {transform: rotate(0deg) translatey(30px) translatex(162px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(30px) translatex(162px)
		           rotate(-360deg);}
}
@keyframes rot12 {
	0% {transform: rotate(0deg) translatey(-90px) translatex(142px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(-90px) translatex(142px)
		           rotate(-360deg);}
}
@keyframes rot21 {
	0% {transform: rotate(0deg) translatey(-152px) translatex(40px)
		           rotate(0deg);}
	100% {transform: rotate(360deg) translatey(-152px) translatex(40px)
		           rotate(-360deg);}
}


